# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
opt/solrj-indexer/src/main/java/com/solrj/app/root/

# Other files and folders
.settings/
www/html/conf/conf.js

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
